<div class="author-info u-clearfix">
<%- partial('socialiter') %>
<img class="avatar" width="64" height="64" src="<%= config.root %>img/avatar.png" alt="<%= config.author %>">
<span class="author-name"><%= config.author %></span>
<div class="author-description"><%= theme.description %></div>
</div>
