<article id="<%= post.layout %>-<%= post.slug %>" class="post-item">
    <% if (post.link || post.title){ %>
    <header class="post-header">
        <%- partial('post/title', {class_name: 'post-title'}) %>
        <div class="post-meta"><%- partial('post/date', {class_name: 'article-date', date_format: 'YYYY-M-D dddd HH:mm:ss'}) %></div>
    </header>
    <% } %>
    <div class="grap">
        <%- post.content %>
    </div>
	<div>
		<div class="zanshang">
			<a href="javascript:void(0)" onclick="document.getElementById('QR_Code').style.display='block';document.getElementById('fade').style.display='block'">赞赏</a>
		</div>
	</div>
	<div id="QR_Code" class="QR_Code">
		<img src="/img/QR_Code.png" alt="扫一扫，打赏我" />
	</div>
	<div id="fade" class="QR_Code_overlay" onclick="document.getElementById('QR_Code').style.display='none';document.getElementById('fade').style.display='none'">
	</div>
    <% if (post.tags && post.tags.length){ %>
    <%- list_tags(post.tags, {
        show_count: false,
        class: 'article-tag'
    }) %>
    <% } %>
</article>
<%- partial('post/author') %>
<%- partial('post/comment') %>
