<footer class="site-footer">
<div class="footer-declaration"><%= theme.declaration %></div>
	<p> &copy; <%= theme.station_time %> - <%= new Date().getFullYear() %> <a href="<%= config.url %>" target="_self" title="<%= config.title %>"><%= config.title %></a>
		<svg class="icon icon-heart"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#heartbeat"></use></svg>
		<a href="http://hexo.io/" target="_blank">Hexo</a> Theme <a href="https://github.com/fateplayer/hexo-theme-nonfish/" target="_blank" title="hexo-theme-nonfish">nonfish</a>
	</p>
	<%- js('js/app') %><%- js('js/gotop') %><%- js('js/biaoti') %><%- js('js/jquery.knob') %>
  <%- js('js/archives_jz') %>
	<div class="Gotop">
	    <input class="knob" data-width="30" data-height="30" readonly data-displayInput=false data-thickness="1" data-bgColor="transparent" data-fgColor="#b9b9b9">
	</div>
</footer>
